/* General Styles  */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #343a40;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.marker {
  font-family: "Permanent Marker", cursive;
}

/* header */
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #202c59;
  min-width: 100vw;
  padding: 0 5rem;
}

.logo {
  color: #faffd8;
  letter-spacing: 2px;
  font-size: 1rem;
}

.burger {
  display: none;
  cursor: pointer;
  /* background-color: #829ce8; */
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #faffd8;
  margin: 5px;
  transition: all 0.3s ease;
}

#home {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding: 10vh;
  color: #faffd8;
  font-size: 1.3rem;
  line-height: 1.5;
}

#home img {
  width: 100%;
}

p {
  font-size: 1.2rem;
}

.intro {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 0;
  line-height: 2;
}

ul.intro a{
  color: #faffd8;
}



span.bg {
  background-color: #faffd8;
  color: #202c59;
  padding: 0.5rem;
}

/* About Section */

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 10vh;
  color: #272727;
  font-size: 1.3rem;
  line-height: 1.5;
  background-color: #faffd8;
}

#about img {
  width: 100%;
}

#about h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* Work Section */
.center {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.center h1 {
  text-align: center;
  margin: 1rem;
  color: #faffd8;
  text-transform: uppercase;
}

#work a {
  text-decoration: none;
}

#work {
  padding: 5vh 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
}

#work img {
  width: 100%;
  height: 250px;
  border: 3px #faffd8 solid;
}

#work img:hover {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

.item h3 {
  color: #829ce8;
  padding: 0.5rem 1rem;
}

.btn-light,
.btn-dark {
  color: #faffd8;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

/* Blog Section */
#blog div {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 60px auto;
  padding: 20px;
}

#blog h1 {
  color: #faffd8;
  font-size: 2em;
}
#blog h2 {
  color: #829ce8;
  font-size: 1.6em;
}

#blog p {
  font-size: 1em;
  line-height: 1.75;
}

#blog img {
  border-radius: 4px;
  border-color: #070a13;
  margin: 10px 0;
  width: 100%;
  height: auto;
}

.centerMe {
  padding: 15px;
  border-bottom: 1px solid #faffd8;
}


#blog h1,
#blog h2,
#blog .centerMe {
  text-align: center;
}

#blog ul {
  margin-top: 10px;
}

#blog ul li {
  margin: 10px 30px;
}

#blog h3, #blog p, #blog ul {
  color: #faffd8;
}

#blog a {
  color: #faffd8;
}

code {
  background-color: #13182d;
  color: #dd1144;
  padding: 3px;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  #blog div {
    width: 100%;
  }

  #blog img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  #blog div {
    width: 90%;
  }

  #blog img {
    width: 100%;
    height: auto;
  }

  #blog img.resize {
    width: 100%;
    height: 150px;
  }
}

/* Footer */
footer,
footer p {
  text-align: center;
  color: #faffd8;
}

footer a {
  text-decoration: none;
  color: #faffd8;
}

/* Other versions */
@media screen and (max-width: 1024px) {

  #work {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  #home {
    grid-template-rows: 2fr auto;
    width: 100%;
    padding: 10vh 3vh;
    grid-template-columns: 100%;
  }

  nav {
    padding: 0 1.5rem;
  }

  .burger {
    display: block;
    border: 2px solid #faffd8;
    border-radius: 50%;
    padding: 3px;
  }

  .intro {
    width: 100%;
    margin: auto;
    /* padding: 1rem 0; */
  }

  #about {
    grid-template-columns: 100%;
    /* padding: 2vh; */
    grid-template-rows: 2fr auto;
    width: 100%;
    padding: 10vh 3vh;
  }

  #work {
    grid-template-columns: repeat(1, 1fr);
  }

  #work img {
    height: 300px;
  }
}

.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

.close .line1 {
  transform: rotate(-45deg) translate(-7px, 5px);
}

.close .line2 {
  opacity: 0;
}

.close .line3 {
  transform: rotate(45deg) translate(-7px, -5px);
}

